body{
font-family: Arial;
background:#f2f2f2;
margin:0;
padding:0;
text-align:center;
}

header{
background:#007bff;
color:white;
padding:15px;
font-size:22px;
}

.container{
margin-top:40px;
}

a.button{
display:block;
width:220px;
margin:10px auto;
padding:12px;
background:#007bff;
color:white;
text-decoration:none;
border-radius:6px;
}

a.button:hover{
background:#0056b3;
}

form{
background:white;
padding:20px;
width:350px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
width:90%;
padding:10px;
margin:8px;
}

button{
padding:10px 20px;
background:#28a745;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

table{
margin:auto;
background:white;
border-collapse:collapse;
}

th,td{
padding:10px;
border:1px solid #ccc;
}